{% extends "layout.html" %}

{% block content %}
<h5>Tickets</h2>
<div class="d-flex align-items-center text text-muted mb-4">
  <input type="hidden" id="page" value=1>
  <input type="hidden" id="event_id" value="any">

  <label for="eventSelect" class="mb-0">Event Name &nbsp;&nbsp;&nbsp;</label>
  
  <select id="eventSelect" class="form-select form-select-sm" style="width: 250px;">
    <option selected>Any</option>
    <option value="1">Event 1</option>
    <option value="2">Event 2</option>
    <option value="3">Event 3</option>
  </select>
  
  <div class="ms-auto">Total: 10</div>

</div>

{% if request.query_params.get('error') %}
<div class="alert alert-danger" role="alert">
  {{ request.query_params.get('error') }}
</div>
{% endif %}
<div id="errors" class="alert alert-danger d-none" role="alert"></div>

<div id="table-container">
    <table class="table table-bordered">
        <thead class="table-light align-middle">
            <tr class="text-center">
                <th>#</th>
                <th>Account</th>
                <th>Event Name</th>
                <th>Section</th>
                <th>Row	#</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Full<br>Price</th>
                <th>Price<br>+ Fees</th>
                <th>Expire<br>in</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="events-list">
            
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    let currentPage = 1;
    let event_id = "any"
    const perPage = 25;

    function loadPage(page) {
        $.getJSON("/items/", { page: page, event_id:  event_id}, function(data) {
            currentPage = data.page;
            // Populate table
            let rows = "";
            data.items.forEach(event => {
                if (event.status == "scheduled") {
                    rows += `<tr class="table-success text-center fade show">`
                } else if (event.status == "failed") {
                    rows += `<tr class="table-danger text-center fade show">`
                } else if (event.expire_at == "expired") {
                    rows += `<tr class="table-secondary text-center fade show">`
                } else {
                    rows += `<tr class="text-center fade show">`
                }
                    rows += `<td data-bs-toggle="collapse" data-bs-target="#details-${event.id}" class="clickable px-0 py-0 align-middle">${event.id}</td>`
                    rows += `<td data-bs-toggle="collapse" data-bs-target="#details-${event.id}" class="clickable px-0 py-0 align-middle">${event.bot_email}</td>`; // Account
                    rows += `<td data-bs-toggle="collapse" data-bs-target="#details-${event.id}" class="clickable px-0 py-0 align-middle">${event.event_name}</td>`; // Event Name
                    rows += `<td data-bs-toggle="collapse" data-bs-target="#details-${event.id}" class="clickable px-0 py-0 align-middle">${event.section}</td>`; // Section
                    rows += `<td data-bs-toggle="collapse" data-bs-target="#details-${event.id}" class="clickable px-0 py-0 align-middle">${event.row}</td>`; // Row #
                    rows += `<td data-bs-toggle="collapse" data-bs-target="#details-${event.id}" class="clickable px-0 py-0 align-middle">${event.price}</td>`; // Price
                    rows += `<td data-bs-toggle="collapse" data-bs-target="#details-${event.id}" class="clickable px-0 py-0 align-middle">${event.amount}</td>`; // Amount
                    rows += `<td data-bs-toggle="collapse" data-bs-target="#details-${event.id}" class="clickable px-0 py-0 align-middle">${event.full_price}</td>`; // Full Price
                    rows += `<td data-bs-toggle="collapse" data-bs-target="#details-${event.id}" class="clickable px-0 py-0 align-middle">${event.price_plus_fees}</td>`; // Price + Fees
                    rows += `<td data-bs-toggle="collapse" data-bs-target="#details-${event.id}" class="clickable px-0 py-0 align-middle countdown">${event.expire_at}</td>`; // Expire in
                    rows += `<td data-bs-toggle="collapse" data-bs-target="#details-${event.id}" class="clickable px-0 py-0 align-middle">${event.status}</td>`; // Status
                    rows += `<td><button data-event-id="${event.id}" class="btn btn-sm btn-success buy-ticket px-0 py-0">&nbsp;&nbsp;Buy&nbsp;&nbsp;</a></td>`; // Action
                rows += `</tr>`

                rows += `
                <tr class="collapse" id="details-${event.id}">
                    <td colspan="12">
                        &nbsp;&nbsp;&nbsp;&nbsp;Event ID: ${event.event_id}<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;Checkout Link: <a href="${event.encsoft_url}" target="_blank">${event.encsoft_url}</a><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;CVV: ${event.cvv}
                    </td>
                </tr>
                `
            });
            $("#events-list").html(rows);
        });
    }

    // Initial load
    loadPage(currentPage);

    // Auto reload every 5 seconds, keep current page
    setInterval(() => {
        loadPage(currentPage);
    }, 5000);

    // TODO #1: 
    // 1. send requests to /events in loop every 5sec
    // 2. re-build the table

    // TODO #2:
    // 1. implement pagination block (including event_id, page)

    // TODO #3:
    // 1. implement buy action

    // TODO #4:
    // 1. implemet error handling

</script>
{% endblock %}
